* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(38, 6, 68);
  height: 100vh;
}

body * {
  font-family: "Inter", sans-serif;
  color: white;
}

#container {
  width: 100%;
  max-width: 588px;
  margin: 56px auto 0px;
  padding: 0 24px;
}

/* profile */
#profile {
  text-align: center;
  padding: 24px;
}

#profile img {
  width: 130px;
  height: 130px;
  border-radius: 100%;
  border: solid 1px white;

}

#profile p {
  font-weight: 500;
  line-height: 24px;
  margin-top: 8px;
}

/* links */
ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 0;
}

ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 24px;
  background: rgb(100, 19, 177);
  border: 1px solid var(--stroke-color);
  border-radius: 8px;
  text-decoration: none;
  font-weight: 500;

}

/* social links */
#social-links {
  display: flex;
  justify-content: center;
  padding: 24px 0;
  font-size: 24px;
}

#social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  border-radius: 50%;
}

footer {
  padding: 24px 0;
  text-align: center;
  font-size: 14px;
}
